<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/external/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Online Kitchen</title>
</head>
<body>


    <!-- *******************************************************
                    navBar Section
    ******************************************************** -->
    <nav>
        <div class="logo">
            <a href="/"><img src="img/logo/logo.png" alt=""></a>
        </div>

        <div class="list">
            <ul class="list-items">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/recipes">Recipes</a></li>
                <li class="item"><a href="/favRecipe">Favorite</a></li>
            </ul>
        </div>

        <div class="login">
            <a href ="/login"><i class="fa fa-sign-in"><span class="tooltip">Login</span>
            </i></a>
        </div>
    </nav>



    <!-- *******************************************************
                    Header Section
    ******************************************************** -->
    <header>
        <div class="container">        
            <div class="text-content">
                <h1>Online Kitchen</h1>
                <p>You can add recipes</p>
                <p>add to favorits and create your own profile</p>
                <p>What are you waiting, Joi us now!</p>                    
            </div>

            <div>
                <button class="btn btn-landpage"><a href ="/signup">Create Account</a></button>
            </div>
        </div>

    </header>

</body>
</html>